
.azeret-mono-normal{
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header styles */

.header-content{
    display: flex;
    justify-content: space-between;
    margin: 30px 120px;
    align-items: center;
}

.resume-button{
    background-color: transparent;
    padding: 13px 30px;
}

/* banner styles */

.banner{
    text-align: center;
    background-image: url('../assets/Hero-bg.png');
    padding: 20px 0;
    margin-bottom: 150px;
}

.banner-title{
    margin-top: 20px;
    line-height: 1.4;
}

.banner-description{
    color: #565656;
    margin: 20px 0;
    line-height: 1.8;
}

.banner-btn{
    padding: 15px 30px;
    background-color: #0D1321;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* main styles */


/* footer styles */

footer{
    margin-top: 100px;
}

/* support section styles */
.support-section{
    margin: 0 150px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom, #00000080, #00000080), url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 100px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.support-description{
    margin-top: 20px;
}

.inputs {
    margin-top: 25px;
}

.input-field{
    border: none;
    border-radius: 5px;
    padding: 12px 20vh;
}

.submit-button{
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px 150px;
}